---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: false
AllowShortCaseLabelsOnASingleLine: false
SpacesBeforeTrailingComments: 1
BinPackParameters: true
BinPackArguments: true
IndentAccessModifiers: false
AccessModifierOffset: -4
AllowShortCompoundRequirementOnASingleLine: true
PackConstructorInitializers: Never
AllowShortBlocksOnASingleLine: Never

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: DontAlign
AlignConsecutiveMacros: false

AlignTrailingComments:
  Kind: Never

UseTab: Never
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: false
FixNamespaceComments: true

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterOverloadedOperator: false
  AfterRequiresInExpression: false
  AfterRequiresInClause: true

SortIncludes: Never

# Special formatting for templates and macros
MacroBlockBegin: ''
MacroBlockEnd: ''
IndentPPDirectives: BeforeHash
KeepEmptyLinesAtTheStartOfBlocks: false

# Disable some Google-specific formatting rules
DerivePointerAlignment: false

NamespaceIndentation: None

# Pointer and reference alignment
PointerAlignment: Left
